body {
    font-family: 'Benne', serif;
    color: #000000;
    background-color: #68adf5;
    animation: strobe 300ms 15;
    animation-fill-mode: initial;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 22px;
}

.content {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.confetti-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: -1;
}

#confetti-element-1, #confetti-element-2, #confetti-element-3 {
    position: fixed;
    top: 0;
    left: 0;
}

.img-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.couchimg, .europarkimg {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.heading {
    display: inline-block;
    margin-top: 50px;
}

.escape-room-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.escape-room-link > img {
    width: 300px;
}

.name-container {
    position: relative;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.name-container > .name1, .name-container > .name2, .name-container > .name3 {
    position: absolute;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);

}

.name-container > .name1 {
    left: 20%;
}

.name-container > .name2 {
    left: 50%;
}

.name-container > .name3 {
    left: 80%;
}

.gifs {
    margin: 100px auto 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    gap: 20px;
}

.gifs > img {
    border-radius: 10px;
}

@keyframes strobe {
    50% {
        background-color: red;
        color: black;
    }
}

@keyframes slide-in-left {
    80% {
        left: 20px;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-in-right {
    80% {
        left: -20px;
    }
    100% {
        left: 0;
    }
}