$color-accent-2: rgba(22, 152, 115, 1);
$color-background-light: rgba(251, 250, 248, 1);
$color-accent-1: rgba(255, 107, 107, 1);
$color-background-dark: rgba(29, 30, 44, 1);
$color-blue: rgba(58, 110, 165, 1);