@import "colors";
@import url('https://css.gg/attachment.css');

.about {
  background-color: $blue-color;
  padding-bottom: 8rem;

  &__content {
    padding: 0 2rem;
    line-height: 2rem;
    text-align: start;
    background-color: $blue-color;
    border-radius: 10px;

    & > h2 {
      color: $white-text-color;
      line-height: initial;
      text-align: center;
      padding-top: 2.5rem;
    }


  }

  &__text {
    padding: 2rem;

    & > p {
      color: $white-text-color;
    }
  }

  &__picture {
    height: auto;
    width: 15rem;
    float: left;
    margin-right: 4rem;
    margin-top: 2rem;
    shape-outside: circle(50%);
    border-radius: 50%;
    box-shadow: 10px 10px 15px 15px rgba(black, .2);
  }

}

.cv-container {
  display: flex;
  align-items: center;
  justify-content: center;


  &__button {
    cursor: pointer;
    font-weight: 700;
    background-color: $white-text-color;
    color: $blue-color;
    display: flex;
    align-items: center;

    & > i {
      color: $blue-color;
      margin-right: 1rem;
    }


    border-radius: 5px;
    width: max-content;
    margin: 2rem;
    border: none;
    padding: .5rem 1.5rem;
    white-space: nowrap;
  }
}