$background-color-dark: hsl(184, 39%, 7%);
$background-color-light: hsl(0, 0%, 100%);
$blue-color: hsl(208, 38%, 33%);
$white-text-color: hsl(0, 0%, 100%);
$red-color: hsl(7, 80%, 64%);
$red-color-background: hsl(7, 50%, 55%);
$green-color: hsl(156, 41%, 44%);