@import "colors";

.form-container {
  opacity: 1;
  transition: opacity .4s ease-out;
}

.contact-form {
  margin-top: 1.5rem;
}

.contact-container {
  width: 80%;
  margin: auto;
  background-color: $white-text-color;
  box-shadow: 10px 10px 10px 10px rgba(black, .3);
  border-radius: 10px;
  padding: 2rem 10rem;
}

.mail-send-container {
  display: flex;
  width: max-content;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .4s ease-out;
  border: 3px solid $blue-color;
  border-radius: 10px;
  padding: 2rem;

  & > i {
    margin-top: 2.5rem;
    color: forestgreen;
  }
}

.fade-in-hint {
  text-align: center;
  color: gray;
  transition: opacity 1s ease-out;
  margin: .5rem;
  opacity: 0;
  visibility: hidden;
}

.other-contact-row {
  display: flex;
  justify-content: flex-end;

  & > a, & > button {
    text-decoration: none;
    color: $blue-color;
    cursor: pointer;

    & > i {
      color: $blue-color;
    }

    &:not(:last-child) {
      margin: 0 2rem;
    }
  }
}

.copy-mail-button {
  border: none;
  background-color: transparent;
}