@import "colors";

.form-container {
  opacity: 1;
  transition: opacity .4s ease-out;
}

.contact-form {
  margin-top: 1.5rem;
}

.contact-container {
  width: 80%;
  margin: auto;
  background-color: $white-text-color;
  box-shadow: 10px 10px 10px 10px rgba(black, .3);
  border-radius: 10px;
  padding: 1rem;

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
  }

  &-left, &-right {
    position: relative;
    height: 100%;
    margin-top: 3rem;
  }

  &-left, &-mid, &-right {
    // padding: 1rem 5rem 2rem 5rem;
  }

  &-mid {
    position: relative;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
      display: block;
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

}

.contact-or-separator {
  display: block;
  font-weight: 700;
}

.mail-send-container {
  display: flex;
  width: max-content;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .4s ease-out;
  border: 3px solid $blue-color;
  border-radius: 10px;
  padding: 2rem;

  & > i {
    margin-top: 2.5rem;
    color: forestgreen;
  }
}

.contact-container-right-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;

  & > a {
    margin-top: 3rem;
  }

  & > h3 {
    align-self: flex-start;
  }
}

.fade-in-hint {
  text-align: center;
  color: gray;
  transition: opacity 1s ease-out;
  margin: .5rem;
  opacity: 0;
  visibility: hidden;
}