@import "colors";

body {
  font-family: 'Ubuntu', sans-serif;
}

.text--slim {
  font-weight: 400;
}

.text--size-5 {
  font-size: 4rem;
}

.text--size-4 {
  font-size: 3rem;
}

.text--size-3 {
  font-size: 1.5rem;
}

.text--size-2 {
  font-size: 1.3rem;
}

.text--size-1 {
  font-size: 1rem;
}

.text-color--light {
  color: $white-text-color;
}

.text-color--dark {
  color: $blue-color;
}

.text--underline {
  text-decoration: underline;
}

.text--center-horizontally {
  text-align: center;
}

.text--center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--center-with-icon {
  display: flex;
  align-items: center;
  justify-content: start;

  & > * {
    margin: 0 .5rem;
  }
}