@import "colors";

.header {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: $background-color-light;

}

.title {
  text-align: end;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

  & * {
    color: $blue-color;
  }
}

.social-container {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  margin-top: .75rem;

  & > a:not(:last-child) {
    margin-right: 1.75rem;
  }

  & > a > i {
    transition: color .4s ease-out;
  }

  & > a > i:hover {
    color: $red-color;
  }

}