@import "colors";

.navbar {
  display: flex;
  padding: 4rem 0 0 6rem;

  &__link {

    &-container {
      margin-left: 2rem;
      overflow: hidden;

      &:hover .navbar__link::after {
        width: 100%;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      margin-top: .1rem;
      background-color: $white-text-color;
      transition: width .3s ease-out;
    }


    &:link {
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: border .4s ease-out;
    }

    &:visited {
      color: white;
    }

  }
}

.nav-background {
  background-color: $blue-color;
  position: absolute;
  height: 50px;
  width: 54%;
  top: 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}