@import "colors";

.navbar {
  padding: 4rem 0 0 6rem;

  &__link {
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }


    &:link {
      text-decoration: none;
      cursor: pointer;
      transition: border .4s ease-out;
      border-bottom: 2px solid transparent;
    }

    &:hover {
    }

    &:visited {
    }

  }
}