@import "colors";

.octagon {
  position: absolute;
  background-color: $white-text-color;
  width: 10rem;
  height: 10rem;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  z-index: 10;

  &--1 {
    right: 15%;
    top: 10%;
  }

  &--2 {
    right: 0;
    top: 30%;
  }

  &--3 {
    right: 15%;
    top: 50%;
  }
}